@import "ember-bootstrap/bootstrap";

.application {
    background: #eee;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr [footer-start] auto;
}

#outlet-container {
    padding: 0.5em;

    @include media-breakpoint-up(xs) {
        margin: 0 5%;
    }

    @include media-breakpoint-up(md) {
        margin: 0 10%;
    }
}

#application-footer {
    grid-row-start: footer;
    
    dl {
        font-size: 0.80rem;
        margin: 0;
        
        dt {
            padding-right: 0;
        }
        dd {
            margin-bottom: 0.15rem;
        }
    }
}

.text-right {
    text-align: right;
}