@import "ember-bootstrap/bootstrap";

.application {
    background: #eee;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr [footer-start] auto;
}

#outlet-container {
    padding: 0.5em;
}

footer {
    grid-row-start: footer-start;
    right: 0px;
    left: 0px;
}


article {
    @include media-breakpoint-up(xs) {
        margin: 0 5%;
    }

    @include media-breakpoint-up(md) {
        margin: 0 10%;
    }
}