<div class="application">
    {{#bs-navbar type="dark" backgroundColor="dark" as |navbar|}}
        <div class="navbar-header">
            {{navbar.toggle}}
            {{#link-to "index" class="navbar-brand"}}Home{{/link-to}}
        </div>
        {{#navbar.content}}
            {{#navbar.nav as |nav|}}
                {{#nav.item}}
                    {{#nav.link-to "about"}}About{{/nav.link-to}}
                {{/nav.item}}
                {{#nav.item}}
                    {{#nav.link-to "blogs"}}Blogs{{/nav.link-to}}
                {{/nav.item}}
                {{!-- @Note reenable later when this actually works --}}
                {{!-- {{#nav.item}}
                    {{#nav.link-to "game"}}Game{{/nav.link-to}}
                {{/nav.item}} --}}
            {{/navbar.nav}}
        {{/navbar.content}}
    {{/bs-navbar}}
    <article id="outlet-container">
        {{outlet}}
    </article>
    <footer id="application-footer" class="mx-auto">
        <dl class="row">
            <dt class="col text-right">Email</dt>
            <dd class="col"><a href="mailto:michael.d.fryer@gmail.com">michael.d.fryer@gmail.com</a></dd>
            <div class="w-100"></div>
            <dt class="col text-right">GitHub</dt>
            <dd class="col"><a target="_blank" href="https://github.com/HumbleHominid">HumbleHominid</a></dd>
            <div class="w-100"></div>
            <dt class="col text-right">LinkedIn</dt>
            <dd class="col"><a target="_blank" href="https://www.linkedin.com/in/michael-fryer-bb017013a/">Michael Fryer</a></dd>
        </dl>
    </footer>
</div>
