<h1 class="display-2">Game</h1>
<p>This is a game made in my Intro. to Game Design class. The premise is to type the words that appear on the meteors before they hit the bottom. As time progresses meteors will fall more frequently making the game more difficult. The source can be found at <a target="_blank" href="https://github.com/HumbleHominid/meteor-typer">meteor-typer</a>.</p>