<h1 class="display-2">Welcome</h1>
<p class="lead">This is a website I have created to help showcase some of my skills as a front-end developer. The website is build using a hybrid of the traditional LAMP stack and a MEAN stack where the appropriate acronym, would be <acronym title="LAEE">LAEE</acronym> for Linux, Apache, Express, and Emberjs.</p>

<p>Please checkout {{#link-to "about"}}<em>About</em>{{/link-to}} for more information about me, {{#link-to "blogs"}}<em >Blogs</em>{{/link-to}} for the occasional blog, and {{#link-to "game" disabled=true}}<em>Game <small>(Soon)</small></em>{{/link-to}} for a quick typing game I made for my game design class also built in ember.js. And finally, the source for this applicaiton is available on my <a target="_blank" href="https://github.com/HumbleHominid">GitHub</a> in the mfryer-site <a target="_blank" href="https://github.com/HumbleHominid/mfryer-site">repository</a>.</p>
