<h1 class="display-2">Welcome</h1>
<p>This is a website I have created to help showcase some of my skills as a front-end developer. Built in Ember.js, mfryer.us uses some of the not-so-new at this point technologies of javascript frameworks to make websites quikly and extendibly. In the backend, an express application paired with a mongodb instance handles all of my blog posts (A bit overkill for this purpose but its meant to show I can).</p>

<p>Please checkout {{#link-to "about"}}<span class="font-italic">About</span>{{/link-to}} for more information about me, {{#link-to "blogs"}}<span class="font-italic">Blogs</span>{{/link-to}} for short posts, and {{#link-to "game"}}<span class="font-italic">Game</span>{{/link-to}} for a quick typing game I made for my game design class also built in ember.js. And finally, the source for this applicaiton is available on my <a href="https://github.com/HumbleHominid">GitHub</a> in the mfryer-site {{#link-to ""}}repository{{/link-to}}.</p>
